{% extends "template.html" %}
{% block styles %}<link rel="stylesheet" href="../static/bugs.css">{% endblock %}
{% block title %}Bugs{% endblock %}
{% block body %}
    <div class="container">
        <h1>Bugs</h1>
        <ul>
            {% for bug in bugs %}
     
                <li>Reporter: {{bug.name}}</li>
                <li>Bug type: {{bug.type}}</li>
                <li>Priority: {{bug.priority}}</li>
                <li>Summary: {{bug.summary}}</li>
                <br>
                
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('index') }}" class="btn">Submit another bug</a>
{% endblock %}

