{% extends "template.html" %} 
{% block title %}Submit Bug{% endblock %} 
{% block body %}
    <div class="container">
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="/submit" method="POST">
            <div class="form-group">
                <h3>Your name</h3>
                <input
                    type="text"
                    name="developername"
                    placeholder="Enter your name here"
                />
            </div>
            <div class="form-group">
                <h3>Bug type</h3>
                <select name="bugtype">
                    <option value="">Select Type</option>
                    <option value="User Interface">User Interface</option>
                    <option value="Client-side Code">Client-side Code</option>
                    <option value="Server-side Code">Server-side Code</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <h3>Bug priority (1 is highest)</h3>
                <input type="radio" name="bugpriority" value="1" /> 1
                <input type="radio" name="bugpriority" value="2" /> 2
                <input type="radio" name="bugpriority" value="3" /> 3
                <input type="radio" name="bugpriority" value="4" /> 4
                <input type="radio" name="bugpriority" value="5" /> 5
                <input type="radio" name="bugpriority" value="6" /> 6
                <input type="radio" name="bugpriority" value="7" /> 7
                <input type="radio" name="bugpriority" value="8" /> 8
                <input type="radio" name="bugpriority" value="9" /> 9
                <input type="radio" name="bugpriority" value="10" checked /> 10
            </div>
            <div class="form-group">
                <h3>Bug summary</h3>
                <textarea
                    name="bugsummary"
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Enter a quick summary of the bug"
                ></textarea>
            </div>
            <input type="submit" value="Submit" class="btn" />
            <a href="{{ url_for('bugs') }}" class="btn link">See Bugs</a>
        </form>
    </div>
{% endblock %}
